# Gradle
build/
*/build/
.gradle/

# Eclipse / IntelliJ / VS Code
.classpath
.project
.settings/
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Run outputs / logs
*.log
logs/

# Java
*.class
bin/
